header {
  padding: 1rem 0;
  background-color: #2e2f41;

  .container {
    position: relative;
  }

  .header-wrapper {
    position: fixed;
    width: inherit;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1f2b;
    padding: 1.25rem 1rem;
    box-sizing: border-box;
  }

  nav.nav-bar {
    flex: 1;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: black;
      margin-right: 1rem;
      font-size: 0.75rem;
      color: #f4f4f4;
    }
  }

  .owner {
    flex: 1;
    display: flex;
    justify-content: center;

    .bold-name {
      font-weight: 700;
      color: #f4f4f4;
      font-size: 1.25rem;
    }

    span {
      color: #f4f4f4;
      font-size: 1.25rem;
      padding-left: 0.25rem;
      font-weight: 300;
    }
  }

  .contact-btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    button {
      background-color: transparent;
      border: thin solid #f4f4f4;
      border-radius: 1.5rem;
      padding: 0.5rem 1rem;
      color: #f4f4f4;
    }
  }
}
