@import "./components/header/Header.scss";
@import "./components/footer/Footer.scss";

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 66vw;
  margin: 0 auto;
}
